html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    background-color: #333;
    background-image: url("/assets/img/background.jpg");
    background-repeat: no-repeat;
   /* background-attachment: fixed;*/
    background-position: right top;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: 'Nunito', sans-serif;
    height: 2500px;
    width: 100vw;
    overflow-y: scroll;

}